<h1>Dashboard</h1>

<p>You have <%= pluralize(@list_count, "task list") %></p>
<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
  <% end %>
  <li>And <%= remaining_lists %> more (show all lists)</li>
  <li><%= link_to "New list", new_user_list_path(current_user) %></li>
</ul>

<p>You are watching <%= pluralize(@watches.count, "list") %></p>
<ul>
</ul>

